[submodule ".config/from_nixos"]
    path = ".config/from_nixos"
	url = https://github.com/Sumi-Sumi/nixos-config
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Sumi-Sumi/nvimdots.git
